doctype
html(lang="es")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="shortcut icon", href="assets/favicon/favicon.ico", type="image/x-icon")
  title OMDB APP
 body
  block header
   header(data-light).header
    h1.header__title OMDB API

  block main

  block footer
   footer(data-light).footer
    p.footer__p Newman Ferrer - V 1.0.0
   